    <%- include('include/header') %>
    <!-- custom css -->
    <link rel="stylesheet" href="/css/admin_home.css">
    <link rel="stylesheet" href="/css/side_bar.css">
    <title>Home</title>
</head>
<body>
    <%- include('include/main_sidebar') %>
    <main class="main">
        <div class="main-content">
            <!-- modal para sa post announcement -->
            <div class="create_post form form col-lg">
                <div class="modal fade" id="create-post" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Create Post</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/a/post-announcement" method="POST">
                                    <input class="form-control" type="text" name="header" placeholder="Header" required>
                                    <textarea class="form-control" name="post" id="" cols="30" rows="3" placeholder="Content" required></textarea>
                                    <div class="modal-footer">
                                        <button class="btn btn-outline-success">Post</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('include/main_top_nav') %>
            <div class="view-post">
                <% renderPost.forEach((post) => { %>
                    <div class="content border border-dark-subtle p-4 rounded mb-2">
                        <p style="font-size: .8rem;">posted at
                            <% const today = post.createdAt %>
                            <% const f = new Intl.DateTimeFormat('en-us', { dateStyle: 'full' }) %>
                            <%- f.format(today) %> 
                            by <%- post.author %>
                        </p>
                        <h5>ANNOUNCEMENT</h5>
                        <div>
                            <p style="margin-top: -10px; font-size: .8rem;">Magandang Araw, Treceño!</p>
                            <p class="text-center mt-4 fw-bold" style="text-align: justify; font-size: .9rem; margin-bottom: 5px;"><%- post.header %></p>
                            <p style="text-align: justify; font-size: .8rem;"><%- post.post %></p>
                        </div>
                        <div>
                            <ul>
                                <li>
                                    <span style="font-size: .8rem;">last edit:
                                        <%const eTime = post.updatedAt %>
                                        <% const newTime = new Intl.DateTimeFormat('en-us', { dateStyle: 'full' }) %>
                                        <%- newTime.format(eTime) %> 
                                    </span>
                                    <% if(post.editor != 'n/a') { %>
                                        <span>edited by: <%- post.editor %> </span>
                                    <% }%>
                                    <a href="/a/<%- post.id %>/edit-post"  style="font-size: .8rem;">edit post</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                <% }) %>
            </div>
            <%- include('include/side_bar') %>
        </div>
    </main>
</body>
</html>