<%- include('include/head') %>
<script src="/js/index.global.min.js"></script>
    <script>
      let event = [
        {
          title: 'appointment',
          start: new Date('2023-03-23'),
        },
        {
          title: 'appointment',
          start: new Date('2023-03-23'),
        },
        {
          title: 'appointment',
          start: new Date('2023-03-23'),
        },
        {
          title: 'appointment',
          start: new Date('2023-03-14'),
        },
        {
          title: 'appointment',
          start: new Date('2023-03-05'),
        },
        {
          title: 'appointment',
          start: new Date('2023-03-20'),
        }
      ]
        document.addEventListener('DOMContentLoaded', function() {
          const calendarEl = document.getElementById('calendar')
          const calendar = new FullCalendar.Calendar(calendarEl, {
            timeZone: 'UTC',
            events: function(info, successCallback, failureCallback){

            },
            events: 'https://fullcalendar.io/api/demo-feeds/events.json',
            events: event,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
            },
            initialView: 'dayGridMonth',
            eventColor: '#378006',
            aspectRatio: 1
          })
          calendar.render()
        })
    </script>
    <title>Admin | Home</title>
</head>
<body>
    <main class="main">
        <%- include('include/nav_link') %>
        <div class="main-content">
            <div class="content-home">
                <!-- <nav class="navbar bg-body-tertiary p-0">
                </nav> -->
                <div class="table-div">
                    <div class="create_post form form col-lg">
                        <!-- button for modal -->
                        <!-- <button type="button" class="btn btn-outline-success m-2" data-bs-toggle="modal" data-bs-target="#create-post">Post</button> -->
                        <!-- modal -->
                        <div class="modal fade" id="create-post" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Create Post</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/a/post-announcement" method="POST">
                                            <input class="form-control" type="text" name="header" placeholder="Header" required>
                                            <textarea class="form-control" name="post" id="" cols="30" rows="3" placeholder="Content" required></textarea>
                                            <div class="modal-footer">
                                                <button class="btn btn-outline-success">Save changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <form action="/a/post-announcement" method="POST" class="form">
                            <div class="form-control">
                                <input class="form-control" type="text" name="header" placeholder="Header" required>
                            </div>
                            <div class="form-control">
                                <textarea class="form-control" name="post" id="" cols="30" rows="3" placeholder="Content" required></textarea>
                            </div>
                            <button type="submit" class="form-control btn btn-light">create post</button>
                        </form> -->
                    </div>
                    <div class="view-post">
                        <% renderPost.forEach((post) => { %>
                            <div class="content" style="background-color: rgb(137, 182, 139); margin-top: 10px; margin-bottom: 10px;  padding: 10px;">
                                <p>posted at
                                    <% const today = post.createdAt %>
                                    <% const f = new Intl.DateTimeFormat('en-us', { dateStyle: 'full' }) %>
                                    <%- f.format(today) %> 
                                    by <%- post.author %>
                                </p>
                                <h2>ANNOUNCEMENT</h2>
                                <div class="a">
                                    <div class="b">
                                        <h2><strong>Magandang Araw, Treceño!</strong></h2>
                                        <h2><strong><%- post.header %></strong></h3>
                                        <p><%- post.post %></p>
                                    </div>
                                </div>
                                <div class="c">
                                    <ul>
                                        <li>
                                            <span>last edit:
                                                <%const eTime = post.updatedAt %>
                                                <% const newTime = new Intl.DateTimeFormat('en-us', { dateStyle: 'full' }) %>
                                                <%- newTime.format(eTime) %> 
                                            </span>
                                            <% if(post.editor != 'n/a') { %>
                                                <span>edited by: <%- post.editor %> </span>
                                            <% }%>
                                            <a href="/a/<%- post.id %>/edit-post">edit post</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
            <%- include('include/side_bar') %>
        </div>
    </main>
</body>
</html>