<div class="side-bar">
    <div class="create-event">
        <button type="button" class="btn btn-outline-success m-2" style="font-size: .9rem;" data-bs-toggle="modal" data-bs-target="#create-post">Post Announcement</button>

        <button type="button" class="btn btn-outline-success" style="font-size: .9rem;" data-bs-toggle="modal" data-bs-target="#add-event">
            Create Event
        </button>
        <!-- Modal -->
        <div class="modal fade" id="add-event" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Event</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/a/add-event" method="POST" class="input-group">
                            <div class="col-md-12">
                                <input type="number" name="quota" class="form-control" placeholder="No. of Quota" required max="400">
                                <input type="date" id="event_date" name="event_date" class="form-control" class="btn btn-primary" required>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="remarks" name="remarks">
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-outline-success">Save changes</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="even-list m-1">
        <table class="table table-striped text-center" border="1px">
            <thead class="table-dark" style="font-size: .8rem;">
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Quota</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody style="font-size: .8rem;">
                <% let counter = 1; let quota = 0 %>
                <% events.forEach(data => { %>
                    <tr>
                        <th>Day <%- counter %></th>
                        <td><%- data.event_date %></td>
                        <td><%- data.quota %></td>
                        <td><%- data.remarks %></td>
                    </tr>
                    <% counter++; quota = quota + data.quota %>
                <% }) %>
            </tbody>
        </table>
        <% if(events == '') { %>
            <p>No Available Quota</p>
        <% } %>
    </div>
    <p class="m-1 fw-medium mt-2" style="font-size: 1rem;">Remaining Quota: <%- quota %></p>
</div>
<script>
    var today = new Date().toISOString().split('T')[0];
    document.getElementById("event_date").setAttribute("min", today);
</script>
<script>
    var dateInput = document.getElementById("event_date");
    // Disable the 15th of each month
    dateInput.addEventListener("input", function() {
    var dateValue = new Date(dateInput.value);
        if (dateValue.getDate() === 15) {
            dateInput.value = "";
            alert("Sorry, you cannot select the 15th of the month.");
        }
    });
</script>