    <%- include('../include/header') %>
    <link rel="stylesheet" href="/css/admin_app.css">
    <link rel="stylesheet" href="/css/side_bar.css">
    <title>Application</title>
    <style>
        @media print{
            @page {size: landscape}
        }
        @media print{
            #table{
                padding: 0px;
                margin: 0px;
                border: none;
                visibility: visible;
                font-size: 0.8rem;
            }
            #table tr{
                text-align: center;
            }#table td{
                font-size: 0.6rem;
            }
        }
    </style>
</head>
<body>
    <%- include('../include/main_sidebar') %>
    <main class="main">
        <nav class="navbar bg-body-tertiary p-0 shadow">
            <div class="container-fluid row flex-md-row form-control-lg pe-0" style="width: 100%;">
                <div class="col-md-6 d-flex justify-content-between">
                    <a href="/a/records/aics-list" class="btn btn-outline-success">List</a>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <!-- <button class="btn btn-outline-success" onclick="printDiv('printDiv')">generate</button> -->
                    
                    <span>Current Records: <%- counter %></span>
                </div>
            </div>
        </nav>
        <div class="p-1" style="--bs-breadcrumb-divider: '>'; height: 5vh;" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Records</li>
                <li class="breadcrumb-item active" aria-current="page">AICS Assistance</li>
            </ol>
        </div>
        <div class="main-content">
            <div class="container col-md-12">
                <table class="table table-responsive table-hover col-lg-12" style="text-align: center;" id="table">
                    <thead style="background-color: #EEF1F6;">
                        <tr class="table-responsive align-middle">
                            <th>#</th>
                            <th>Social Service</th>
                            <th>Client Name</th>
                            <th>Beneficiary</th>
                            <th>Sex</th>
                            <th>Address</th>
                            <th>Reference</th>
                            <th>Contact Number</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody style="background-color: #FAFBFC;">
                        <% let count = 1 %>
                        <% render.forEach(info => { %>
                            <tr>
                                <th><%- count++ %></th>
                                <td><%- info.service %></td>
                                <td><%- info.firstname %> <%- info.middlename %> <%- info.lastname %></td>
                                <td><%- info.bene_firstname %> <%- info.bene_middlename %> <%- info.bene_lastname %></td>
                                <td><%- info.bene_sex %></td>
                                <td><%- info.bene_street %> <%- info.bene_brgy %> <%- info.bene_municipal %> <%- info.bene_province %></td>
                                <td><%- info.reference %></td>
                                <td>+63<%- info.contact_number %></td>
                                <td><%- info.email %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <% if(render == false) { %>
                    <p class="text-center">No Record</p>
                <% } %> 
            </div>
        </div>
    </main>
</body>
</html>