<%- include('../include/head') %> 
    <title>List</title>
    <style>
        @media print{
            @page {size: landscape}
        }
        @media print{
            #table{
                padding: 0px;
                margin: 0px;
                border: none;
                visibility: visible;
                font-size: 0.8rem;
            }
            #table tr{
                text-align: center;
            }#table td{
                font-size: 0.6rem;
            }
        }
    </style>
</head>
<body>
    <main class="main">
        <%- include('../include/nav_link') %> 
        <div class="main-content">
            <div class="content-table">
                <nav class="navbar bg-body-tertiary p-0">
                    <div class="container-fluid row d-flex justify-content-between flex-md-row form-control-lg pe-0" style="width: 100%;">
                        <div class="col-md-6 d-flex ">
                            <button class="btn btn-outline-success" onclick="printDiv('printDiv')">Create PDF</button>

                            <div class="dropdown mx-2">
                                <span class="btn btn-outline-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false">Select Date</span>
                                <% if(date == '') { %>
                                    <li>No list</li>
                                <% }else{ %>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/a/records/educ-list/">All</a></li>
                                        <% date.forEach(data => { %>
                                            <li><a class="dropdown-item" href="/a/records/educ-list/<%- data.id %>"><%- data.createdAt %></a></li>
                                        <% }) %>
                                    </ul>
                                <% } %>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex ">
                            
                        </div>
                    </div>
                </nav>
                <div class="table-div">
                    <div class="table-responsive" id="printDiv">
                        <h1 class="text-center">COLLEGE EDUCATIONAL ASSISTANCE</h1>
                        <table class="table table-responsive table-hover col-lg-12" style="text-align: center;" id="table">
                            <thead style="background-color: #EEF1F6;">
                                <tr class="table-responsive align-middle">
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Contact Number</th>
                                    <th>Parent Name</th>
                                    <th>Age</th>
                                    <th>Sex</th>
                                    <th>Claimed</th>
                                </tr>
                            </thead>
                            <tbody style="background-color: #FAFBFC;">
                                <% let counter = 1 %>
                                <% data.forEach(info => { %>
                                    <tr>
                                        <td><%- counter++ %></td>
                                        <td><%- info.firstname %> <%- info.middlename %> <%- info.lastname %> <%- info.exname %></td>
                                        <td><%- info.address %></td>
                                        <td>+63<%- info.contact_number %></td>
                                        <td>
                                            <p><%- info.parent_name.mother_name %></p>
                                            <p><%- info.parent_name.father_name %></p>
                                        </td>
                                        <td><%- info.age %></td>
                                        <td><%- info.sex %></td>
                                        <td><input type="checkbox" disabled></td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                        <% if(data == '') { %>
                            <p>No List Found</p>
                        <% } %>
                    </div>
                    <!-- </form> -->
                </div>
            </div>
            <!-- footer -->
        </div>
    </main>
</body>
<script>
    function printDiv(divTable) {
        var printContents = document.getElementById(divTable).innerHTML;
        var originalContents = document.body.outerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>
</html>